body {
  padding: 20px;
}

#container{
  border : 2px solid grey;
  padding: 20px;
}

img {
  width: 300px;
}
.computer-info {
  font-style: italic ;
  border : 2px solid grey;
  padding: 1px;
}

li {
  list-style: none;
}

span { font-weight:bold; }
